html {scroll-behavior: smooth;}

body {background-image: url('Bilder/Overlay.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;}

body nav{position: sticky;top: 0;}

nav {background-image: url('Bilder/Bild Menu.png');
  background-repeat: no-repeat; background-size: cover; z-index: 2;
  text-align:center; padding-top: 1px; padding-bottom: 1px;}

Nav a {text-decoration: none;color: Black; font-size: 25px;}

nav p {display: inline-block;}

h1 {text-align: center; font-size: 50px; font: Arial; color: Black;}
h2,h3 {text-align:center; font-size: 40px; font: Arial; color: Black;}

.Aufzählung {padding-left: 36%;font-size: 25px;font: Arial; color: Black;}
.TEXT {padding-left: 14%;padding-right:14%;hyphens: auto;
	text-align: justify;font-size: 30px;
  font: Arial; color: Black;}
.BOX1 {float: left; widht: 10%; font-size: 20px;
  box-sizing: border-box; z-index: 2;font-size: 20px;font: Arial; color: Black;}
.BOX2 {box-sizing: border-box; padding-top: 1px;
  z-index: 2; font-size: 20px;font: Arial; color: Black;}

.Bild {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1}
.Menu {list-style: none; display: inline-block; padding-right: 20px;font: Arial; color: Black;}
